<div class="border-black carte">
  <mat-card *ngFor="let produit of produits" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{produit.nom}}</mat-card-title>
      <mat-card-subtitle>{{produit.prix | currency: 'EUR'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{produit.image}}" alt="{{produit.image}}">
    <mat-card-content>
      <p>{{produit.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="produitAddOnCommande(produit)" mat-stroked-button color="primary">
        Ajouter dans ma commande</button>
    </mat-card-actions>
  </mat-card>
</div>

